<!DOCTYPE html>
<html>
  <head>
    <title>Subscribe to E-Corp Newsletter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
    <ul class="nav nav-pills nav-justified my-3">
      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/users">Users</a></li>
      <li class="nav-item"><a class="nav-link active" href="/subscribe">Subscribe</a></li>
      <li class="nav-item"><a class="nav-link" href="/wiki">Wiki</a></li>
    </ul>

    <h1>Subscribe to E-Corp Newsletter</h1>
    <p>
      Please enter your name and email address below to recieve our weekly newsletter related to all things evil happening at Evil Corp!
    </p>

    <form method="POST">
      <div class="form-group">
        <label for="nameInput">Name</label><br />
        <input type="text" name="name" class="form-control" id="nameInput" aria-describedby="nameInputHelp" placeholder="Your Name">
        <small id="nameInputHelp" class="form-text text-muted">Enter the name you would like us to address you by.</small>
        <br />
        <br />
        <label for="emailAddressInput">Email address</label><br />
        <input type="email" name="email" id="emailAddressInput" class="form-control" aria-describedby="emailAddressHelp" placeholder="Enter email">
        <small id="emailAddressHelp" class="form-text text-muted">Please enter a valid email address to recieve our newsletter.</small>
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Subscribe</button>
    </form>
    {{ if .Subscribed}}
    {{ if and .Name  .Email }}
    <hr>
    <div class="alert alert-success alert-dismissable fade show" role="alert">
      <h4 class="alert-heading">Subscribed!</h4>
        <p>The following name & email address has been subscribed to recieve notifications of upcoming company events.</p>
        <hr>
        <p class="mb-0">
        <b>Name:</b> {{.Name}}<br />
        <b>Email:</b> {{.Email}}<br />
        </p>
    <div>
    {{ else }}
    <hr>
    <div class="alert alert-danger alert-dismissable fade show" role="alert">
      <h4 class="alert-heading">Error!</h4>
        <p>Something went wrong. Please check your inputs. You entered:</p>
        <hr>
        <p class="mb-0">
        <b>Name:</b> {{.Name}}<br />
        <b>Email:</b> {{.Email}}<br />
        </p>
    <div>
    {{ end }}
    {{ end }}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </div>
  </body>
</html>
